@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff2");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Raleway";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: #EBFFE4;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0.5;
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__bc {
  position: absolute;
  top: -75px;
  right: 192px;
}

.header__intro {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__intro__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__intro__left__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #051101;
  margin-bottom: 25px;
}

.header__intro__left__price {
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #5CBE3A;
  padding-top: 15px;
}

.header__intro__left__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #051101;
  opacity: 0.7;
  width: 392px;
}

.header__intro__left__links {
  margin-top: 60px;
  margin-bottom: 80px;
  gap: 30px;
}

.header__intro__left__customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 68px;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 720px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.customer h1 {
  font-weight: 700;
  font-size: 85px;
  line-height: 120%;
  color: #5CBE3A;
}

.boot_skidka {
  position: relative;
}

.boots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.boots img:nth-child(1) {
  border: 1px solid #BEE761;
  border-radius: 50%;
}

.boots img:nth-child(2) {
  border: 1px solid #BEE761;
  border-radius: 50%;
}

.boots img:nth-child(3) {
  border: 1px solid #BEE761;
  border-radius: 50%;
}

.boot.active {
  background: #B6E247;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.boot {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.skidka {
  position: absolute;
  left: 40px;
  top: 60px;
  width: 170px;
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.skidka img {
  position: absolute;
  width: 130px;
}

.skidka p {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}

.skidka h4 {
  position: relative;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.customer p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #051101;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 70px;
}

.green {
  color: #5CBE3A;
}

.reklama {
  color: #5CBE3A;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #61705C;
  opacity: 0.6;
}

.nav-link.active {
  color: #051101;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
}

.footer__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer__nav .footer__nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #61705C;
  opacity: 0.6;
}

.footer__nav .footer__nav-link.active {
  color: #051101;
}

.header__intro__left__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link {
  z-index: 10;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background: #5CBE3A;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #C0EBB1;
}

.link:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #5CBE3A;
  background-color: #EBFFE4;
  border: 1px solid #C0EBB1;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-top: 110px;
  margin-bottom: 25px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center !important;
  margin: 0 auto;
  color: #051101;
  opacity: 0.7;
  max-width: 469px;
  width: 100%;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 130px;
}

.shop__boots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shop__boot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shop__title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.shop__price {
  margin-top: 10px;
  margin-bottom: 15px;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.stars i {
  font-size: 26px;
  color: #EDEBFA;
}

.stars2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.stars2 i {
  color: #EDEBFA;
  font-size: 26px;
}

.stars3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.stars3 i {
  font-size: 26px;
  color: #EDEBFA;
}

.stars4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.stars4 i {
  font-size: 18px;
  color: #EDEBFA;
}

.stars5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.stars5 i {
  font-size: 18px;
  color: #EDEBFA;
}

.stars6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.stars6 i {
  font-size: 18px;
  color: #EDEBFA;
}

.star.active {
  color: #F1E809;
}

.star2.active {
  color: #F1E809;
}

.star3.active {
  color: #F1E809;
}

.star4.active {
  color: #F1E809;
}

.star5.active {
  color: #F1E809;
}

.star6.active {
  color: #F1E809;
}

.video {
  width: 607px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 1px;
}

.wrapper.active {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.835);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.wrapper .player {
  max-width: 607px;
  border-radius: 10px;
  position: relative;
}

.wrapper .player .video {
  max-width: 100%;
  border-radius: 10px;
}

.wrapper .player .controls {
  background-color: #293A58;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.8;
}

.wrapper .player .controls__time {
  color: white;
  margin-right: 10px;
}

.wrapper .player .controls__times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .player .controls__play {
  margin-left: 10px;
}

.wrapper .player .controls__play:hover {
  cursor: pointer;
}

.wrapper .player .controls .progress {
  width: 300px;
  height: 25px;
}

.wrapper .player .controls .progress:hover {
  cursor: pointer;
}

.view__video {
  position: relative;
}

.view {
  margin-bottom: 130px;
  position: relative;
}

.view__img {
  width: 609px;
}

.view__img:hover {
  cursor: pointer;
}

.view__title {
  font-weight: 700;
  font-size: 218.216px;
  line-height: 130%;
  color: #E5F2E1;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 125px;
  left: 70px;
}

.view__left {
  width: 620px;
  height: 530px;
  background: #F6FFF3;
  border-radius: 10px;
}

.view__left__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  color: #051101;
  padding-top: 140px;
  padding-left: 100px;
  padding-bottom: 20px;
  width: 464px;
}

.view__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-left: 100px;
  max-width: 361px;
  width: 100%;
  color: #051101;
  opacity: 0.7;
}

.view_left_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.view__right {
  position: absolute;
  right: 0;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #81D066;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.play:hover {
  cursor: pointer;
}

.play i {
  color: white;
  font-size: 37px;
  position: absolute;
  top: 27px;
  left: 32px;
}

.swiper {
  width: 636.85px;
  height: 568.78px;
  margin-left: unset;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 636px;
  height: 568px;
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 636px;
  height: 568px;
}

.best_shoes {
  margin-bottom: 145px;
}

.best_shoes__left {
  position: relative;
  height: 608px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.best_shoes__border {
  border: 20px solid #E5F2E1;
  border-radius: 10px;
  width: 636.85px;
  height: 568.78px;
  position: absolute;
}

.best_shoes__title {
  margin-top: 110px;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  color: #051101;
}

.best_shoes__right {
  margin-left: 120px;
}

.best_shoes__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

.best_shoes__texts p {
  width: 392px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #051101;
  opacity: 0.7;
}

.best_shoes__texts img {
  width: 32px;
  height: 20px;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.wrapper-relative {
  margin-top: 40px;
  margin-left: 50px;
}

.container-1400 {
  max-width: 1400px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper2 {
  width: 595px !important;
  height: 440px !important;
  -webkit-box-shadow: -8px 10px 30px rgba(0, 0, 0, 0.05);
  box-shadow: -8px 10px 30px rgba(0, 0, 0, 0.05);
}

.swiper-slide2 {
  width: 595px !important;
  height: 440px !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0px;
}

.swiper-slide2 img {
  width: 98.97px;
  height: 98.97px;
}

.slide__padding {
  padding-top: 66px;
  padding-right: 115px;
  padding-bottom: 72px;
  padding-left: 79px;
}

.slide__title {
  font-weight: 700;
  font-size: 31px;
  line-height: 130%;
  color: #051101;
  text-align: left;
  margin-bottom: 34px;
}

.slide__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slide__into__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #051101;
  text-align: left;
}

.slide__right {
  margin-left: 30px;
}

.slide__intro__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #051101;
  opacity: 0.7;
  text-align: left;
  width: 274.81px;
  margin-top: 18px;
  margin-bottom: 20px;
}

.slide__intro__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 56px;
}

.who {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #051101;
}

.slider .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.left__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.slide__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 100px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  display: none;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  background: #5CBE3A;
  opacity: 0.3;
  width: 24.65px;
  height: 24.65px;
}

.swiper-pagination {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 245px;
  margin-bottom: 160px;
}

.h1__2022 {
  font-weight: 600;
  font-size: 261.487px;
  line-height: 140%;
  color: #E5F2E1;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  z-index: -1;
  right: 159px;
}

.background {
  position: absolute;
  width: 326.13px;
  height: 562.4px;
  background: #F6FFF3;
  top: -65px;
  right: 518px;
}

.getstarted {
  margin-bottom: 135px;
}

.getstarted__bg {
  background: #EBFFE4;
}

.getstarted__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  padding-top: 80px;
  text-align: center;
  color: #051101;
  padding-bottom: 20px;
}

.getstarted__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #051101;
  margin: 0 auto;
  padding-bottom: 35px;
  opacity: 0.7;
  width: 392px;
}

.getstarted a {
  margin: 0 auto;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pb {
  padding-bottom: 80px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

.footer__nav {
  margin-bottom: 50px;
}

.footer__gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.footer__link {
  width: 47.84px;
  height: 47.84px;
  background: #5CBE3A;
  border-radius: 50%;
  position: relative;
}

.footer__link i {
  color: #FFFFFF;
  font-size: 17px;
  position: absolute;
  top: 15px;
  left: 17px;
}

.footer__green {
  background: #5CBE3A;
  height: 30px;
}

.menu {
  width: 43px;
  height: 40px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: none;
}

.menu.active .menu__item:nth-child(1) {
  left: -100%;
}

.menu.active .menu__item:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu.active .menu__item:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu.active .menu__item:nth-child(4) {
  left: 100%;
}

.menu__item {
  width: 35px;
  height: 2px;
  background-color: black;
  display: block;
  position: absolute;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu__item:nth-child(1) {
  top: 10px;
}

.menu__item:nth-child(2) {
  top: 20px;
}

.menu__item:nth-child(3) {
  top: 20px;
}

.menu__item:nth-child(4) {
  top: 30px;
}

.controls__play i {
  font-size: 30px;
  color: white;
}

@media (max-width: 1700px) {
  .background {
    right: 420px;
  }
}

@media (max-width: 1500px) {
  .background {
    right: 350px;
  }
}

@media (max-width: 1400px) {
  .background {
    right: 300px;
  }

  .best_shoes__right {
    margin-left: 70px;
  }

  .best_shoes__title {
    max-width: 500px;
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .background {
    right: 260px;
  }
}

@media (max-width: 1230px) {
  .swiper-slide img {
    width: 536px;
    height: 468px;
  }

  .swiper-slide2 img {
    width: 98.97px;
    height: 98.97px;
  }

  .best_shoes__border {
    width: 536px;
    height: 468px;
  }

  .swiper {
    width: 536px;
    height: 468px;
  }

  .d-flex {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .best_shoes__right {
    margin: 0;
  }

  .best_shoes {
    margin-bottom: 100px;
  }

  .best_shoes__title {
    margin: 0;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 992px;
  }

  .container {
    max-width: 768px;
  }

  .container {
    max-width: 576px;
  }

  .container {
    max-width: 100%;
  }

  .background {
    right: 170px;
  }

  .header__intro__right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .swiper-slide {
    height: 468px;
  }

  .best_shoes__title {
    text-align: center;
  }

  .best_shoes__left {
    height: 580px;
  }

  .big_img {
    width: 650px !important;
  }

  .header__intro__left__links {
    margin-bottom: 50px;
  }

  .view_left_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .view__right {
    position: relative;
    top: -100px;
  }

  .view__left {
    max-width: 650px;
    width: 100%;
  }

  .view__img {
    max-width: 609px;
    width: 609px;
  }
}

@media (max-width: 1120px) {
  .shop__boot img {
    max-width: 350px;
    width: 100%;
  }
}

@media (max-width: 1090px) {
  .header__intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__intro__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
  }

  .header__intro__left__links {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .reklama {
    margin-top: 20px;
  }

  .boots {
    margin-bottom: 70px;
  }
}

@media (max-width: 1060px) {
  .background {
    right: 90px;
  }
}

@media (max-width: 900px) {
  .background {
    display: none;
  }

  .slide__left {
    margin-right: 50px;
  }

  .shop__boots {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}

@media (max-width: 850px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 50px;
  }

  .header__intro__left {
    gap: 30px;
  }

  .big_img {
    width: 600px !important;
  }

  .skidka img {
    width: 100px;
  }

  .skidka h4,
  .skidka p {
    font-size: 22px;
  }

  .customer h1 {
    font-size: 75px;
  }
}

@media (max-width: 835px) {
  .footer__nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 830px) {
  .slide__padding {
    padding-top: 54px;
    padding-right: 0;
    padding-left: 0;
  }

  .swiper2 {
    width: 540px !important;
    height: 416px !important;
  }

  .swiper-slide2 {
    width: 530px !important;
  }
}

@media (max-width: 780px) {
  .slider__df {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .swiper2 {
    margin: 0 auto;
  }

  .slide__left {
    margin: 0;
    margin-top: 50px;
  }

  .header__intro__left__links {
    gap: 20px;
    margin-top: 30px;
  }

  .header__intro__left__title {
    font-size: 50px;
  }

  .reklama {
    font-size: 18px;
  }

  .header__intro__left__price h1 {
    font-size: 45px;
  }

  .customer h1 {
    font-size: 65px;
  }

  .big_img {
    width: 550px !important;
  }

  .skidka {
    top: 50px;
    left: 20px;
  }

  .header__intro__left {
    gap: 15px;
  }
}

@media (max-width: 759px) {
  .shop__boot img {
    max-width: 300px;
  }
}

@media (max-width: 750px) {
  .header__intro__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .reklama {
    margin-top: 0;
    text-align: center;
  }

  .header__intro__left__title {
    text-align: center;
  }

  .header__intro__left__price h1 {
    text-align: center;
  }

  .header__intro__left__links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header__intro__left__customers {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 680px) {
  .wrapper .player .controls {
    height: 40px;
  }

  .view__left {
    max-width: 520px;
  }

  .wrapper .player .controls .progress {
    width: 220px;
  }

  .view__left__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    padding-top: 104px;
    padding-bottom: 20px;
    width: 407px;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }

  .view__text {
    text-align: center;
    padding-left: 0;
    margin: 0 auto;
  }

  .view__left {
    height: 440px;
  }

  .view__img {
    max-width: 430px;
  }

  .play {
    height: 70px;
    width: 70px;
  }

  .play i {
    font-size: 34px;
    top: 18px;
    left: 23px;
  }

  .view {
    margin-bottom: 70px;
  }
}

@media (max-width: 659px) {
  .shop__boot img {
    max-width: 270px;
  }
}

@media (max-width: 650px) {
  .header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #16151a;
    width: 280px;
    z-index: 50;
    gap: 20px;
    opacity: 0.9;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header__right .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-link {
    color: white !important;
  }

  .menu {
    display: block;
    z-index: 100;
  }

  .menu.active .menu__item {
    background-color: white !important;
  }
}

@media (max-width: 610px) {
  .swiper-slide img {
    width: 436px;
    height: 368px;
  }

  .best_shoes__border {
    width: 436px;
    height: 368px;
  }

  .swiper-slide {
    width: 436px;
    height: 368px;
  }

  .swiper {
    width: 436px;
    height: 368px;
  }

  .wrapper-relative {
    margin-top: 25px;
    margin-left: 30px;
  }

  .best_shoes__left {
    height: 470px;
  }

  .best_shoes__border {
    border: 15px solid #E5F2E1;
  }

  .swiper-slide2 img {
    width: 98px !important;
    height: 98px !important;
  }
}

@media (max-width: 599px) {
  .shop__boot img {
    max-width: 250px;
  }

  .shop__title {
    font-size: 20px;
  }

  .stars i,
  .stars2 i,
  .stars3 i {
    font-size: 24px;
  }
}

@media (max-width: 590px) {
  .swiper2 {
    width: 440px !important;
  }

  .swiper-slide2 img {
    width: 88px !important;
    height: 88px !important;
  }

  .swiper-slide2 {
    width: 445px !important;
  }

  .slide__title {
    font-size: 28px;
  }

  .swiper2 {
    height: 400px !important;
  }

  .slide__into__title {
    font-size: 20px;
  }

  .slide__intro__footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 580px) {
  .big_img {
    width: 500px !important;
  }

  .skidka {
    top: 30px;
    left: -2px;
  }
}

@media (max-width: 559px) {
  .shop__boots {
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }
}

@media (max-width: 550px) {
  .wrapper .player .controls__times {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .view__left {
    max-width: 420px;
  }

  .view__left__title {
    font-size: 33px;
    padding-top: 80px;
    width: 336px;
  }

  .view__left {
    height: 400px;
  }

  .view__img {
    max-width: 340px;
  }

  .play {
    height: 50px;
    width: 50px;
  }

  .play i {
    font-size: 26px;
    top: 11px;
    left: 16px;
  }

  .view {
    margin-bottom: 40px;
  }
}

@media (max-width: 530px) {
  .big_img {
    width: 430px !important;
  }

  .skidka img {
    width: 80px;
  }

  .skidka h4,
  .skidka p {
    font-size: 18px;
  }

  .skidka {
    top: 18px;
    left: -12px;
  }

  .boot {
    width: 70px;
  }
}

@media (max-width: 529px) {
  .shop__boot img {
    max-width: 240px;
  }
}

@media (max-width: 500px) {
  .getstarted__title {
    font-size: 35px;
  }

  .getstarted__text {
    font-size: 15px;
  }

  .title {
    font-size: 38px;
  }

  .best_shoes__title {
    font-size: 37px;
  }

  .best_shoes__texts p {
    font-size: 15px;
  }

  .swiper-slide img {
    width: 400px;
    height: 332px;
  }

  .best_shoes__border {
    width: 400px;
    height: 332px;
  }

  .swiper-slide {
    width: 400px;
    height: 332px;
  }

  .swiper {
    width: 400px;
    height: 332px;
  }
}

@media (max-width: 470px) {
  .best_shoes__left {
    height: 380px;
  }

  .best_shoes__border {
    width: 350px;
    height: 282px;
  }

  .swiper-slide img {
    width: 350px;
    height: 282px;
  }

  .swiper-slide {
    width: 350px;
    height: 282px;
  }

  .swiper {
    width: 350px;
    height: 282px;
  }

  .best_shoes__title {
    font-size: 28px;
    max-width: 300px;
    margin: 0 auto;
  }

  .best_shoes__texts p {
    max-width: 271px;
  }

  .swiper2 {
    width: 350px !important;
  }

  .swiper-slide2 {
    width: 350px !important;
  }

  .slide__title {
    font-size: 26px;
    text-align: center;
  }

  .slide__intro__text {
    font-size: 15px;
    max-width: 175px;
    width: 100%;
    line-height: 130%;
  }

  .slide__right {
    margin: 0;
  }

  .slide__intro {
    gap: 15px;
  }

  .slide__intro__footer {
    margin-bottom: 20px;
  }

  .slider {
    margin-bottom: 130px;
  }

  .swiper-pagination-bullet {
    width: 22px;
    height: 22px;
  }

  .swiper-pagination {
    gap: 10px;
  }
}

@media (max-width: 469px) {
  .footer__nav {
    gap: 30px;
  }
}

@media (max-width: 460px) {
  .big_img {
    width: 370px !important;
  }

  .skidka {
    top: 2px;
    left: -26px;
  }
}

@media (max-width: 450px) {
  .view__left {
    max-width: 350px;
  }

  .view__left__title {
    font-size: 27px;
    padding-top: 70px;
    width: 250px;
  }

  .view__text {
    font-size: 15px;
    line-height: 130%;
    max-width: 249px;
  }

  .view__left {
    height: 380px;
  }

  .view__img {
    max-width: 300px;
  }

  .wrapper .player .controls .progress {
    width: 160px;
  }

  .controls__play i {
    font-size: 27px;
  }
}

@media (max-width: 430px) {
  .getstarted__title {
    font-size: 30px;
    padding-top: 50px;
  }

  .getstarted__text {
    max-width: 300px;
    width: 100%;
  }

  .pb {
    padding-bottom: 50px;
  }
}

@media (max-width: 420px) {
  .header__right {
    width: 100%;
    opacity: 1;
  }

  .reklama {
    font-size: 15px;
  }

  .header__intro__left__title {
    font-size: 46px;
  }

  .header__intro__left__text {
    max-width: 390px;
    width: 100%;
  }

  .header__intro__left__price h1 {
    font-size: 40px;
  }

  .customer h1 {
    font-size: 55px;
  }

  .big_img {
    width: 315px !important;
  }

  .skidka img {
    width: 65px;
  }

  .skidka h4,
  .skidka p {
    font-size: 16px;
  }

  .skidka {
    top: -12px;
    left: -31px;
  }

  .boot {
    width: 60px;
  }
}

@media (max-width: 414px) {
  .title {
    font-size: 34px;
  }

  .text {
    line-height: 135%;
  }
}

@media (max-width: 400px) {
  .swiper-slide img {
    width: 282px;
    height: 252px;
  }

  .swiper-slide {
    width: 282px;
    height: 252px;
  }

  .swiper {
    width: 282px;
    height: 252px;
  }

  .best_shoes__border {
    width: 282px;
    height: 252px;
  }

  .best_shoes__left {
    height: 340px;
  }
}

@media (max-width: 380px) {
  .slide__intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .swiper2 {
    width: 290px !important;
  }

  .swiper-slide2 {
    width: 290px !important;
  }

  .slide__title {
    margin-bottom: 20px;
  }

  .swiper-slide2 img {
    margin: 0 auto;
  }

  .slide__into__title {
    text-align: center;
  }

  .slide__intro__text {
    text-align: justify;
    max-width: 250px;
  }

  .swiper2 {
    height: 450px !important;
  }

  .slider {
    margin-top: 180px;
  }
}

@media (max-width: 350px) {
  .view__left {
    max-width: 270px;
  }

  .wrapper .player .controls {
    height: 30px;
  }

  .view__left__title {
    font-size: 24px;
    padding-top: 60px;
    width: 200px;
  }

  .view__text {
    font-size: 14px;
    line-height: 130%;
    max-width: 230px;
  }

  .view__left {
    height: 340px;
  }

  .view__img {
    max-width: 230px;
  }

  .play {
    height: 40px;
    width: 40px;
  }

  .play i {
    font-size: 21px;
    top: 9px;
    left: 13px;
  }

  .view {
    margin-bottom: 10px;
  }

  .wrapper .player .controls .progress {
    width: 130px;
  }

  .controls__play i {
    font-size: 20px;
  }

  .wrapper .player .controls__time {
    color: white;
    margin-right: 10px;
    font-size: 12px;
  }

  .header__intro__left__title {
    font-size: 40px;
  }

  .reklama {
    font-size: 12px;
  }

  .header__intro__left__text {
    font-size: 14px;
    text-align: justify;
  }

  .header__intro__left__price h1 {
    font-size: 34px;
  }

  .link {
    font-size: 14px;
  }

  .customer h1 {
    font-size: 45px;
  }

  .big_img {
    width: 271px !important;
  }

  .skidka {
    top: -28px;
    left: 30px;
    width: unset;
  }

  .skidka img {
    width: 55px;
  }

  .skidka h4,
  .skidka p {
    font-size: 14px;
  }

  .header__intro__left__links {
    gap: 10px;
  }

  .link {
    width: 135px;
    height: 40px;
  }

  .header__intro {
    margin-top: 70px;
  }

  .swiper-slide img {
    width: 232px;
    height: 202px;
  }

  .swiper-slide {
    width: 232px;
    height: 202px;
  }

  .swiper {
    width: 232px;
    height: 202px;
  }

  .best_shoes__border {
    width: 232px;
    height: 202px;
  }

  .best_shoes__left {
    height: 270px;
  }

  .best_shoes__title {
    font-size: 25px;
  }

  .best_shoes__texts {
    gap: 5px;
  }

  .best_shoes__texts p {
    line-height: 130%;
    font-size: 14px;
    text-align: justify;
    max-width: 240px;
  }
}

@media (max-width: 345px) {
  .footer__nav {
    gap: 20px;
  }

  .footer__nav__list {
    gap: 20px;
  }

  .footer__links p {
    font-size: 16px;
  }

  .footer__gap {
    gap: 15px;
  }

  .footer__link {
    width: 40px;
    height: 40px;
  }

  .footer__link i {
    font-size: 15px;
    top: 12px;
    left: 15px;
  }

  .footer__nav .footer__nav-link {
    font-size: 15px;
  }

  .footer__green {
    height: 20px;
  }
}

@media (max-width: 337px) {
  .title {
    font-size: 27px;
  }

  .text {
    font-size: 14px;
  }
}

@media (max-width: 330px) {
  .getstarted__text {
    line-height: 130%;
    max-width: 230px;
    margin-bottom: 20px;
  }

  .getstarted__title {
    font-size: 26px;
  }

  .swiper2 {
    width: 250px !important;
  }

  .swiper-slide2 {
    width: 250px !important;
  }

  .slide__title {
    font-size: 23px;
  }

  .swiper-slide2 img {
    width: 78px !important;
    height: 78px !important;
  }

  .slide__into__title {
    font-size: 18px;
  }

  .slide__intro__text {
    max-width: 190px;
  }

  .who {
    font-size: 18px;
  }
}

@media (max-width: 300px) {
  .footer__links {
    gap: 20px;
  }

  .footer__nav__list {
    gap: 15px;
  }

  .header__intro__left__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .wrapper-relative {
    margin-top: 20px;
    margin-left: 20px;
  }

  .best_shoes__border {
    border: 10px solid #E5F2E1;
  }

  .best_shoes__title {
    font-size: 22px;
  }

  .best_shoes__texts p {
    max-width: 220px;
  }

  .best_shoes__texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
  }
}

@media (max-width: 290px) {
  .header__intro__left__title {
    font-size: 37px;
  }
}

@media (max-width: 280px) {
  .big_img {
    width: 250px !important;
  }

  .footer__gap {
    gap: 10px;
  }

  .header__intro__left__title {
    font-size: 37px;
  }

  .boots {
    gap: 20px !important;
  }

  .boot {
    width: 50px;
  }

  .header__intro__left__customers {
    gap: 30px;
  }

  .slider {
    margin-top: 130px;
  }
}